body, html {
      height: 100%;
      margin: 0;
      overflow: hidden;
    }
    .wrapper {
      display: flex;
      height: 100vh;
    }
    .sidebar {
      width: 300px; /*Ajustar tamaños de div*/
      background-color: #ffffff;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      overflow-y: auto;
      transition: all 0.3s ease;
      z-index: 1030;
    }
    .sidebar.closed {
      margin-left: -500px;
    }
    .main-content {
      flex-grow: 1;
      margin-left: 300px; /*Ajustar tamaños de div*/
      transition: all 0.3s ease;
      overflow-y: auto;
      padding: 1rem;
    }
    .main-content.expanded {
      margin-left: 0;
    }